#container{
    display: flex;
    flex-direction: column;
}

#text{
    width: 400px;
    height: 98px;
    border: 1px solid black;
}

#write{
    display: flex;
    flex-direction: row;
}

#numpad{
    width: 300px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}

.num{
    width: 100px;
    height: 100px;
}
.num.zero{
    width: 200px;
}

#functions{
    display: flex;
    flex-direction: column;
}

.function{
    width: 100px;
    height: 100px;
}

.function.add{
    height: 200px;
}
.function.operate{
    height: 200px;
}