#container{
    display: flex;
    flex-direction: row;
}

#numpad{
    width: 150px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
}

.num{
    width: 50px;
    height: 50px;
}
.num.nine{
    width: 100px;
}
#functions{
    display: flex;
    flex-direction: column;
}

.function{
    width: 50px;
    height: 50px;
}

.function.add{
    height: 100px;
}
.function.operate{
    height: 100px;
}